/* global */
body {
    overflow-x: hidden;
    margin: 0;
    background-image: url("images/atl.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%
}

p {
    padding: 1rem;
    padding-left: 2rem;
    margin: 0;
}

@media only screen and (max-width: 1200px) {
    article {
        margin: auto 5% auto auto;
    }
  }

content {
    display: flex;
}

h1 {
    font-family: Arial, sans-serif;
    font-weight: 800;
    padding: 1rem;
    font-size: 10vw;
    text-align: center;
    margin: 0;
}

h2 {
    font-family: sans-serif;
    padding-left: 3rem;
    padding-top: 1%;
}

/* nav */
nav {
    display:flex;
    justify-content: center;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    width: 100%;
    top: 0;
    margin: auto;
    z-index: 1;
}

.navlist {
    display: flex;
    max-width: 55%;
    width: 100%;
    margin: auto;
    padding: 0;
}

@media only screen and (max-width: 1200px) {
    .navlist {
        max-width: 100%
    }
}

nav a {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
}

@media only screen and (max-width: 767px) {
    nav a:not(:first-child) {display: none;}
    nav a.icon {
    float: right;
    }
}

.navitem {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-family: sans-serif;
    text-decoration: none;
    margin: auto;
    font-size: 17px;
}

.navitem:hover {
    transition: 0.4s;
    background-color: #fff;
    color: #333;
}

/*top layer body content*/

article {
    position: relative;
    border-radius: 8px;
    width: 100%;
    max-width: 50%;
    margin: auto;
    background-color: lightblue;
}

@media only screen and (max-width: 1200px) {
    article {  
        max-width: 70%;
        margin-right: 5px;
    }
  }

@media only screen and (max-width: 767px) {
    article {
        max-width: 100%;
    }
}

section img {
    padding-top: 10px;
    position: relative;
    object-fit: cover;
    width: 100%;
}


/*857*/


/*email box 
- when adding javascript, will have to seperate #contactme & #contactmemob into class and ID*/

#contactme {
    background-color: lightblue;
    border-radius: 8px;
    padding: 8px;
    float: left;
    width: 21%;
    margin: auto 2% auto 1%;
    position: sticky;
    top: 10%
}

#contactmemob {
    display: none;
}

@media only screen and (max-width: 1200px) {
    #contactme {
        background-color: lightblue;
        border-radius: 8px;
        padding: 8px;
        float: left;
        width: 24%;
        margin: auto 2% auto 1%;
        position: sticky;
        top: 10%
    }
}


@media only screen and (max-width: 767px) {
    #contactme {
        display: none;
    }
    #contactmemob {
        display: block;
        background-color: lightblue;
        border-radius: 8px;
        padding: 8px;
        float: none;
        max-width: 100%;
        width: auto;
        margin: 5% auto 5% auto;
        position: relative;
        top: 10%
    }
}


#contactme h2 {
    font-size: 14px;
    padding: 0;
}

#contactme p {
    margin-bottom: 10px;
    padding: 0;
}

#emailform { 
    background-color: navy;
    border: 6px solid navy;

}

#nameinput {
    width: 60%;
}

#msginput {
    height: 200px;
    max-width: 97%;
    min-width: 97%;
    min-height: 70%
}

@media only screen and (max-width: 767px) {

}
/*Rightside Dialog*/

#avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: width 0.7s, height 0.7s;
}

#avatar:hover {
    width: 200px;
    height: 200px;
}

#myprojects {
    background-color: lightblue;
    border-radius: 8px;
    padding: 8px;
    float: right;
    width: 20%;
    height: 365px;
    margin: auto;
    margin-left: 2%;
    margin-right: 2%;
    position: sticky;
    top: 10%;
    transition: height 0.7s;
}

#myprojects:hover {
    height: 600px;
}


#myprojects article p {
    width:100%;
    margin: 0;
    padding: 0;
}

#myprojectsmob {
    display:none
}

@media only screen and (max-width: 1200px) {
    #myprojects {
        display: none
    }
    #myprojectsmob {
        display: block;
        background-color: lightblue;
        border-radius: 8px;
        padding: 8px;
        float: none;
        max-width: 68.5%;
        width: auto;
        margin: auto 5px auto auto;
        position: relative;
        top: 10%
    }
    #myprojectsmob div p{
        display: block;
        padding: 0;
        float: none;
        width: 100%;
        margin: auto;
        position: relative;
        top: 10%
    }


  }

@media only screen and (max-width: 767px) {
    #myprojects {
        display: none
    }
    #myprojectsmob {
        display: block;
        background-color: lightblue;
        border-radius: 8px;
        padding: 8px;
        float: none;
        max-width: 100%;
        width: auto;
        margin: 5% auto 5% auto;
        position: relative;
        top: 10%
    }
}







/*footer*/

footer {
    background-color: black;
    color: #fff;
    padding: 1rem;
}

footer #pagesong {
    float: right;
    vertical-align: text-top;
}

/*big top picture*/

#landing {
    background-image: url("images/catsil.png"), url("images/oncouch.jpg");
    background-size: cover, cover;
    background-color: #333;
    background-position: center; 
    background-repeat: no-repeat;
    border: 2px solid black;
    height: 520px;
    width: 100%;
    max-width: auto;
    margin: 0 0 0 0;
    padding-bottom: 0;
    
}

#landing:hover {
    background-image: url("images/catsil2.png"), url("images/oncouch.jpg");
    background-size: cover, cover;
    transition: 3s;
}

img {
    width: 100%;
    height: auto;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 40px;
    position: relative;
}

.aboutme img {
    margin:auto;
}

article p {
    text-align: justify;
}

.gif {
    object-fit: cover;
    object-position: center bottom;

    max-width: auto;
    max-height: 800px;
}